* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

/*-------------------navbar-----------------------*/
.navbar {
  background: var(--Nuetral-nuetral-50, #f3f3f5);
  position: sticky;
  top: 0;
  z-index: 1111;


  display: flex;
  align-items: center;
  gap: 94px;
  padding: 16px 0px;
  color: #181818;
}

.navbar-menu {
  display: flex;
  gap: 18px;
}

.navbar-menu a {
  color: #181818;
  text-decoration: none;
  color: var(--Global-black, #181818);

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
/* Dropdown Button */
.dropdown {
    
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    display: none;
    background-color: #fff;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #fff;
  }
  
.nav-btn {
  color: var(--Global-black, #181818);
  text-align: center;

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  display: flex;
  height: 52px;
  padding: var(--spacing-Spacing-0, 0px) var(--spacing-Spacing-16, 16px);
  align-items: center;
  gap: var(--spacing-Spacing-8, 8px);
  border-radius: 8px;
  background: var(--Primary-500, #fca311);
}

.toggle-button {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/*-------------------------------------- Responsive styles-------------------------------------- */
@media (max-width: 1024px) {
  .container{
    padding: 0px 40px;
  }
  .navbar {
    background: var(--Nuetral-nuetral-50, #f3f3f5);

    display: flex;
    align-items: center;
    gap: 40px;
    padding: 16px 0px;
    color: #181818;
  }

  .navbar-menu {
    display: flex;
    gap: 18px;
  }

  .navbar-menu a {
    color: #181818;
    text-decoration: none;
    color: var(--Global-black, #181818);

    /* Text 3/Regular */
    font-family: "Fira Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  .nav-btn {
    color: var(--Global-black, #181818);
    text-align: center;

    /* Text 3/Regular */
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    display: flex;
    height: 52px;
    padding: var(--spacing-Spacing-0, 0px) var(--spacing-Spacing-16, 16px);
    align-items: center;
    gap: var(--spacing-Spacing-8, 8px);
    border-radius: 8px;
    background: var(--Primary-500, #fca311);
  }
}
@media (max-width: 768px) {
  .container{
    padding: 0px 0px;
  }
  .navbar {
    padding: 0px;
    background-color: #fff;
    position: relative;
  }
  .navbar-menu {
    display: none;
    position: absolute;
    top: 70px;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    border-radius: 18px;
    background-color: #fff;
  }
  .nav-btn {
    display: none;
  }

  .navbar-menu.active {
    display: flex;
  }

  .toggle-button {
    display: block;
  }
}

/*--------------------hero section------------------------*/
.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box{
    display: none;
 
}
.box .hero-below-box{
    display: none;
}

.hero-left {
  background: #f3f3f5;
  box-shadow: 0px 4px 21.7px 0px rgba(255, 255, 255, 0.1);
  padding: 80px 80px 60px 80px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.hero-left .hero-btn {
  padding: 6px 16px;
  color: #484a54;
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  /* 150% */
  margin-left: 0px;
  max-width: fit-content;
  border-radius: 36px;
  border: 1px solid #d9dadf;
}

.hero-left h1 {
  color: #181818;
  font-family: "Fira Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -1.2px;
}

.hero-head img {
  max-width: 100%;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.hero-desc .hero-description {
  color: #373940;

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.hero-desc .hero-btn {
  display: none;
}

.hero-desc .hero-box {
  border-radius: 12px;
  border: 1px solid #d9dadf;
  background: #fafafa;
  padding: 32px 12px;
  display: flex;
  max-width: 384px;

  gap: 4px;
  position: relative;
}

.hero-box-content {
  display: flex;
  gap: 12px;
}

.hero-box-content-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hero-box-content-left .date {
  color: var(--Global-black, #181818);

  /* Display 1/Semibold */
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* 133.333% */
}

.hero-box-content-left .content {
  color: var(--Primary-500, #fca311);

  /* Display 1/Semibold */
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* 133.333% */
}

.hero-annoucement-icon img {
  position: absolute;
  right: 5px;
  top: 0px;
}

.hero-right {
  background: var(--secondary-950, #163036);
}

.hero-right img {
  position: relative;
}

.hero-imgs .image-1 {
  bottom: -40px;
  right: 25px;
  position: absolute;
  z-index: 999;
}

.hero-imgs .image-2 {
  bottom: -125px;
  right: 200px;
  position: absolute;
  z-index: 1000;
}

/*-------------------hero responsive--------------------*/
@media (max-width: 1024px) {
  .hero-imgs .image-1 {
    bottom: 200px;
    right: 25px;
    position: absolute;
    z-index: 999;
  }

  .hero-imgs .image-2 {
    bottom: 100px;
    right: 200px;
    position: absolute;
    z-index: 1000;
  }
}
@media (max-width: 768px) {
  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero-imgs .image-1 {
    width: 89px;
    top: 740px;
    right: 50px;
    bottom: 0px;
    
    position: absolute;
    z-index: 999;
  }

  .hero-imgs .image-2 {
    width: 89px;
    top: 720px;
    bottom: 0px;
    right: 110px;
    position: absolute;
    z-index: 1000;
  }

  .hero-left {
    padding: 24px;
    justify-content: center;
    align-items: center;

    gap: 24px;
  }

  .hero-left .hero-btn {
    font-size: 12px;
    text-align: center;
  }

  .hero-left h1 {
    font-size: 34px;
    text-align: center;
    line-height: 54px;
    letter-spacing: -0.88px;
  }

  .hero-box-content-left .date {
    font-size: 16px;

    line-height: 20px;
  }

  .hero-box-content-left .content {
    font-size: 16px;

    line-height: 20px;
  }

  .hero-desc .hero-box {
    display: none;
  }

  .hero-desc {
    justify-content: center;
    align-items: center;
    gap: 46px;
  }

  .hero-desc .hero-description {
    text-align: center;
    /* 150% */
  }

  .hero-desc .hero-btn {
    display: block;

    height: 52px;
    padding: 16px;
    align-items: center;
    border-radius: 8px;
    background: var(--Primary-500, #fca311);
    color: var(--Global-black, #181818);
    text-align: center;

    /* Text 3/Regular */
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
  }

  .hero-below-box {
    border-radius: 12px;
    border: 1px solid #d9dadf;
    background: #fafafa;
    padding: 12px;
    display: flex;
    max-width: 341px;

    gap: 4px;
    position: relative;
  }

  .hero-box-content {
    display: flex;
    gap: 12px;
  }

  .hero-box-content-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .hero-box-content-left .date {
    color: var(--Global-black, #181818);

    /* Display 1/Semibold */
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 133.333% */
  }

  .hero-below-box .hero-box-content-left .content {
    font-size: 16px;
  }

  .hero-below-box .hero-annoucement-icon img {
    position: absolute;
  }
  .box{
    background: var(--secondary-800, #2C575E);padding: 70px 24px 24px 24px;
  }
  .box .hero-below-box{
    display: block;
  }
}
@media (min-width:1440px) {
    .hero-imgs .image-1 {
        display: none;
       
      }
      
      .hero-imgs .image-2 {
        display: none;
        
      }
    
}
@media (max-width:1440px){
    .hero-imgs .image-1 {
        top: 460px;
        right: 80px;
       
      }
      
      .hero-imgs .image-2 {
        top: 430px;
        right: 250px
        
      }
}
@media (max-width:1024px){
    .hero-imgs .image-1 {
        top: 320px;
        right: 80px;
       
      }
      
      .hero-imgs .image-2 {
        top: 280px;
        right: 250px
        
      }
}
@media (max-width:768px){
    .hero-imgs .image-1 {
        width: 150px;
        top: 980px;
        right: 170px;
       
      }
      
      .hero-imgs .image-2 {
        width: 150px;
        top: 950px;
        right: 270px
        
      }
}
@media (max-width:425px){
  .hero-left{
    padding: 24px 16px;

  }
    .hero-imgs .image-1 {
        width: 89px;
        top: 820px;
        right: 80px;
       
      }
      
      .hero-imgs .image-2 {
        width: 89px;
        top: 800px;
        right: 140px
        
      }
}
@media (max-width:375px){
    .hero-imgs .image-1 {
        width: 89px;
        top: 800px;
        right: 80px;
       
      }
      
      .hero-imgs .image-2 {
        width: 89px;
        top: 785px;
        right: 140px
        
      }
}
@media (max-width:320px){
    .hero-imgs .image-1 {
        width: 89px;
        top: 760px;
        right: 80px;
       
      }
      
      .hero-imgs .image-2 {
        width: 89px;
        top: 745px;
        right: 140px
        
      }
}

/*-----------------------our range---------------*/
.range-section {
  background: var(--secondary-950, #163036);
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.our-range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.our-range-head {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  align-items: center;
}

.our-range-head span {
  max-width: fit-content;
  border-radius: 36px;
  border: 1px solid #d9dadf;
  color: #fbfbfb;
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  padding: 6px 16px;
}

.our-range-head p {
  color: var(--body-white, #fbfbfb);
  text-align: center;
  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  max-width: 785px;
}

.our-range-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.our-range-card .range-card {
  display: flex;
  max-width: 100%;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: var(--border-redius-xxlg, 24px);
  background: var(--secondary-900, #284a51);
}
.range-card h4 {
  color: var(--Global-white, var(--Global-white, #fff));
  text-align: center;

  /* Display 1/Semibold */
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.range-card p {
  color: var(--body-white, #fbfbfb);
  text-align: center;

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
/*----------------------range responsive-----------------------*/
@media (max-width: 768px) {
  .range-section {
    padding: 32px 16px;
    gap: 24px;
  }
  .our-range-head {
    gap: 8px;
  }

  .our-range-head span {
    max-width: fit-content;
    border-radius: 36px;
    border: 1px solid #d9dadf;
    color: #fbfbfb;
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    padding: 6px 16px;
  }
  .our-range-head h2 {
    color: var(--Global-white, var(--Global-white, #fff));
    text-align: center;

    /* Display 3/Semibold */
    font-family: "Fira Sans";
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 122.727% */
    letter-spacing: -0.88px;
  }
  .our-range-head p {
    color: var(--body-white, #fbfbfb);
    text-align: center;
    /* Text 3/Regular */
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    max-width: 785px;
  }

  .our-range-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}
@media (max-width: 521px) {
  .our-range-card {
    grid-template-columns: 1fr;
  }
}

/*------------------------our courses-section------------------------*/
.courses-section {
  background: #f3f3f5;
  display: flex;
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
}
.our-courses-head {
  display: flex;
  flex-direction: column;

  gap: 24px;
}
.our-courses-head .course-head {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.course-head .course-btn {
  display: flex;
  padding: var(--spacing-Spacing-6, 6px) var(--spacing-Spacing-16, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid var(--Nuetral-nuetral-100, #d9dadf);
  max-width: fit-content;
}
.course-head .course-heading {
  color: var(--Global-black, #181818);

  /* Display 3/Semibold */
  font-family: "Fira Sans";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  letter-spacing: -0.88px;
}
.course-description .description {
  color: var(--secondary-950, #163036);

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  max-width: 844px;
}
.our-courses-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 24px 24px;
}
.course-card {
  padding: 24px;
  border-radius: 18px;
  display: flex;
  gap: 12px;
  width: 100%;
  max-width: 362px;
}
.course-img {
  border-radius: 47px;
  background: var(--Primary-100, #fff4c5);
  display: flex;
  width: 60px;
  height: 60px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.course-card .card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.course-card .card-content p {
  color: var(--Global-black, #181818);
  margin-bottom: 0;

  max-width: 290px;

  /* Display 1/Semibold */
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.course-card .card-content span {
  color: var(--Neutral-neutral-900, var(--Nuetral-nuetral-900, #373940));

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.our-courses-btn {
  border-radius: 8px;
  background: var(--Primary-500, #fca311);
  display: flex;
  height: 52px;
  padding: var(--spacing-Spacing-0, 0px) var(--spacing-Spacing-16, 16px);
  align-items: center;
  margin: auto;
  gap: 8px;
  color: var(--Global-black, #181818);
  text-align: center;

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border: none;
}

@media (max-width: 768px) {
  .courses-section {
    padding: 32px 16px;
    gap: 32px;
    align-items: center;

    text-align: center;
  }

  .our-courses-head {
    gap: 12px;
  }
  .our-courses-head .course-head {
    gap: 8px;

    justify-content: center;
    align-items: center;
  }
  .our-courses-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 12px;
  }
  .course-card {
    gap: 4px;
  }
  .course-card .card-content {
    gap: 4px;
  }
  .course-card .card-content p {
    font-size: 16px;
  }
  .course-card .card-content span {
    color: var(--Neutral-neutral-900, var(--Nuetral-nuetral-900, #373940));

    /* Text 3/Regular */
    font-family: "Fira Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .our-courses-btn {
    padding: 8px 12px;
    align-items: center;
    gap: 8px;

    font-size: 14px;
  }
}
@media (max-width: 521px) {
  .courses-section {
    padding: 32px 16px;
  }
  .our-courses-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px 12px;
  }
  .course-card {
    max-width: 100%;
  }
}
/*------------------------sales section---------------------*/
.sales-section {
  display: flex;
  padding: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 80px;
}
.sales-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 18px;
}
.sales-head-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.sales-head-content .sales-btn {
  padding: var(--spacing-Spacing-6, 6px) var(--spacing-Spacing-16, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid var(--Nuetral-nuetral-100, #d9dadf);
  max-width: fit-content;
}

.sales-head-content .sales-heading {
  color: var(--Global-black, #181818);

  /* Display 3/Semibold */
  font-family: "Fira Sans";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  letter-spacing: -0.88px;
}
.sales-description .description {
  max-width: 785px;
  color: var(--Neutral-neutral-900, var(--Nuetral-nuetral-900, #373940));
  text-align: center;

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.sales-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 90px;
  gap: 24px;
}
.sales-card {
  position: relative;
  padding: 80px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 18px;
  background: var(--Nuetral-nuetral-50, #f3f3f5);
  z-index: 999;
  align-items: flex-start;
  gap: 32px;
}
.sales-card .heading {
  color: var(--Global-black, #181818);

  /* Display 1/Semibold */
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.sales-card-content .sub-heading {
  color: var(--Neutral-neutral-900, var(--Nuetral-nuetral-900, #373940));
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}
.sales-card-content .content {
  color: var(--Neutral-neutral-900, var(--Nuetral-nuetral-900, #373940));

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.sales-img img {
  position: absolute;
  left: 40%;
  z-index: 1001;
  top: -35px;
}
.contact-us-btn {
  display: flex;
  height: 52px;
  padding: var(--spacing-Spacing-0, 0px) var(--spacing-Spacing-16, 16px);
  align-items: center;
  gap: var(--spacing-Spacing-8, 8px);
  border-radius: 8px;
  background: var(--Primary-500, #fca311);
  color: var(--Global-black, #181818);
  text-align: center;

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: -20px;
}
/*----------------our sales responsive----------------*/
@media (max-width: 768px) {
  .sales-section {
    padding: 80px 16px 80px 16px;
  }
  .sales-cards {
    grid-template-columns: 1fr;
    padding: 0px;
    gap: 70px;
  }
  .contact-us-btn {
    margin-top: -42px;
  }
}
/*--------------------------salary---------------------*/
.salary-section {
  padding: 80px;
  display: flex;
  justify-content: space-between;
  background: var(--secondary-950, #163036);
}
.salary-content p {
  /* Display 1/Regular */
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  max-width: 338px;
}
.salary-numeric p {
  color: var(--Primary-500, #fca311);

  /* Display 5/Semibold */
  font-family: "Fira Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 120% */
  letter-spacing: -1.2px;
}
.vacancies p {
  color: var(--Primary-500, #fca311);
  margin-right: 143px;
  /* Display 5/Semibold */
  font-family: "Fira Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 120% */
  letter-spacing: -1.2px;
}
.salary-numeric span,
.vacancies span {
  color: var(--body-white, #fbfbfb);

  /* Text 4/Regular */
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
/*------------------responsive---------------------*/
@media (max-width: 1024px) {
  .vacancies p {
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  .salary-section {
    padding: 16px;
    flex-direction: column;
  }

  .salary-numeric p {
    font-size: 44px;
  }
  .vacancies p {
    font-size: 44px;
  }
  .salary-numeric span,
  .vacancies span {
    color: var(--body-white, #fbfbfb);

    /* Text 4/Regular */
    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
  }
}
/*-------------------------company-heart-section----------------*/
.compnay-heart-section {
  padding: 80px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  position: relative;
}
.company-heart-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.company-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.company-heading span {
  display: flex;
  padding: var(--spacing-Spacing-6, 6px) var(--spacing-Spacing-16, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid var(--Nuetral-nuetral-100, #d9dadf);
}
.company-heading h2 {
  color: var(--Global-black, #181818);

  /* Display 3/Semibold */
  font-family: "Fira Sans";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  letter-spacing: -0.88px;
}
.company-description .description {
  color: var(--Neutral-neutral-900, var(--Nuetral-nuetral-900, #373940));
  text-align: center;

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  max-width: 785px;
}
.company-heart-images .company-heart-img-left {
  position: absolute;

  left: 0px;
  top: 0px;
}
.company-heart-images .company-heart-img-right {
  position: absolute;
  right: 0;
  top: 0px;
}
.company-heart-btn {
  max-width: fit-content;
  padding: 16px;
  align-items: center;
  
  
  border-radius: 8px;
  background:  #fca311;
}
.swiper-container {
  width: 100%; 
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 !important;
}

.swiper-wrapper {
    
  display: flex;
  animation: scroll 10s linear infinite;
  
}

.swiper-slide {
  max-width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* Adjust based on the number of images */
}

@media (max-width: 768px) {
  .compnay-heart-section {
    padding: 32px 0;
    text-align: center;
    gap: 30px;
  }
  .container{
    padding: 16px;
  }

  .company-heading h2 {
    font-size: 30px;
  }

  
}

/*------------------------career----------------------*/
.career-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px;
  gap: 60px;
  background: var(--Nuetral-nuetral-50, #f3f3f5);
}
.career-head {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}
.career-heading {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.career-heading span {
  max-width: fit-content;
  border-radius: 36px;
  border: 1px solid var(--Nuetral-nuetral-100, #d9dadf);
  display: flex;
  padding: var(--spacing-Spacing-6, 6px) var(--spacing-Spacing-16, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.career-heading h2 {
  color: var(--Global-black, #181818);

  /* Display 3/Semibold */
  font-family: "Fira Sans";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  letter-spacing: -0.88px;
  max-width: 844px;
}
.career-description .description {
  color: var(--secondary-950, #163036);
  max-width: 844px;
  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.career-cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  z-index: 0;

  gap: 24px;
}
.career-card {
  display: flex;

  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 18px;
  max-width: fit-content;
}
.career-card-head {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.career-card-head h3 {
  color: var(--Global-black, #181818);

  /* Display 1/Semibold */
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.career-card-head p {
  color: var(--Neutral-neutral-900, var(--Nuetral-nuetral-900, #373940));

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.career-card .img-fluid {
  min-width: 100%;
  height: auto;
  border-radius: 18px;
}
.career-read-more a {
  color: var(--Primary-500, #fca311);
  text-align: center;
text-decoration: none;
  /* Text 3/Medium */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.career-bg-img img {
  position: absolute;
  left: -100px;
  width: 1365px;
  top: -20px;
  right: 0;
  z-index: -1;
}
/*-------------------responsive-----------------------------*/
@media (max-width: 1024px) {
  .career-section {
    padding: 50px;
  }
  .career-card .career-img {
    max-width: 190px;
  }
  .career-bg-img {
    display: none;
  }
}
@media (max-width: 768px) {
  .career-section {
    padding: 32px;
  }
  .career-bg-img {
    display: none;
  }
  .career-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 521px) {
  .career-section {
    align-items: center;
    text-align: center;

    padding: 24px 16px;
  }
  .career-bg-img {
    display: none;
  }
  .career-heading {
    align-items: center;
  }
  .career-cards {
    grid-template-columns: 1fr;
  }
  .career-card {
    text-align: left;
  }
}

/*-----------------testimonials-----------------------------*/
.testimonials-section {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 60px;
}
.testimonial-head {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.testimonial-heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.testimonial-heading span {
  color: var(--Neutral-neutral-800, var(--Nuetral-nuetral-800, #484a54));
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  display: flex;
  padding: var(--spacing-Spacing-6, 6px) var(--spacing-Spacing-16, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid var(--Nuetral-nuetral-100, #d9dadf);
  max-width: fit-content;
}
.testimonial-heading h2 {
  color: var(--Global-black, #181818);

  /* Display 3/Semibold */
  font-family: "Fira Sans";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  letter-spacing: -0.88px;
}
.testimonial-description .description {
  color: var(--Neutral-neutral-900, var(--Nuetral-nuetral-900, #373940));
  text-align: center;

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  max-width: 785px;
}
.testimonial-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.testimonial-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 22px;
  border: 1px solid var(--Nuetral-nuetral-100, #d9dadf);
  background: var(--Global-white, #fff);
  padding: 40px;
  text-align: left;
}
.card-reviews p {
  color: var(--Global-black, #181818);

  /* Text 4/Medium */
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

/*------------------responsive-------------------------*/

@media (max-width: 768px) {
  .testimonials-section {
    padding: 50px;
    gap: 24px;
  }
  .testimonial-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 520px) {
  .testimonials-section {
    padding: 32px 16px;
  }
  .testimonial-cards {
    grid-template-columns: 1fr;
  }
}

/*-------------------------contact us -------------------------*/
.contact-section {
  padding: 80px;
  background: var(--body-white, #fbfbfb);
}
.contact-section .contact-us {
  display: flex;
  align-items: center;
}
.contact-us-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  text-align: left;
}
.contact-us-left .contact-btn {
  display: flex;
  padding: var(--spacing-Spacing-6, 6px) var(--spacing-Spacing-16, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid var(--Nuetral-nuetral-100, #d9dadf);
}
.contact-us-left .contact-heading {
  color: var(--Global-black, #181818);

  /* Display 3/Semibold */
  font-family: "Fira Sans";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  letter-spacing: -0.88px;
  max-width: 656px;
}
.contact-us-left .contact-description {
  color: var(--secondary-950, #163036);

  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  max-width: 731px;
}
.contact-us-left .register-now-btn {
  display: flex;
  height: 52px;
  padding: var(--spacing-Spacing-0, 0px) var(--spacing-Spacing-16, 16px);
  align-items: center;
  gap: var(--spacing-Spacing-8, 8px);
  border-radius: 8px;
  background: var(--Primary-500, #fca311);
}
/* Swiper container */
.swiper-container2 {
    position: relative;
    max-width: 450px;
    
    overflow: hidden;
  }
  
  /* Swiper Wrapper */
  .swiper-wrapper {
    gap: 20px;
    display: flex;
    transition: transform 0.5s ease;
  }
  
  /* Contact Card */
  .card1 {
    max-width: 450px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 32px;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 32px;
    text-align: left;
  }
  
  .advisor-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .card h3 {
    color: #181818;
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  
  .card p {
    color: #000;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  .advisor-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .advisor-contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .advisor-contact-info img {
    width: 20px;
    height: 20px;
  }
  
  /* Navigation Arrows */
  .swiper-button {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(-50%);
  }
  
  .swiper-button-left {
    left: 10px;
  }
  
  .swiper-button-right {
    right: 10px;
  }
  
  @media (max-width: 768px) {
    .swiper-container2 {
      max-width: 350px;
    }
  
    .card {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .advisor-contact {
      gap: 8px;
    }
  }
  
/*----------------responsive-------------------*/
@media (max-width: 768px) {
  .contact-section {
    padding: 32px 16px;
  }
}
@media (max-width: 521px) {
  .contact-us-left {
    align-items: center;
    text-align: center;
    gap: 12px;
  }
  .contact-section .img-fluid {
    margin-top: 20px;
  }
}
/*--------------------------footer section---------------------------*/
.footer-section {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.footer-section-1 {
  padding: 80px;
  background: var(--secondary-950, #163036);
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-top .footer-left {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer-left .social-icons {
  display: flex;

  gap: 24px;
}
.social-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;

  justify-content: center;
}
.footer-right {
  display: flex;
  gap: 71px;
}
.footer-right a {
  color: var(--body-white, #fbfbfb);
  text-align: center;
text-decoration: none;
  /* Text 3/Regular */
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: fit-content;
  text-wrap: nowrap;
}
.footer-section-2 {
  padding: 60px 80px;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: flex-end;
}
.footer-partner h3 {
  color: var(--Global-black, #181818);

  /* Display 1/Semibold */
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.footer-partner-images {
  display: flex;
  gap: 22px;
  align-items: center;
}
/*-------------------responsive------------------------*/
@media (max-width: 1024px) {
  .footer-right {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .footer-section-1 {
    padding: 50px;
  }

  .footer-top {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-top .footer-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .footer-left .social-icons {
    display: flex;

    gap: 24px;
  }
  .footer-right {
    flex-direction: column;
    gap: 18px;
  }
  .footer-section-2 {
    padding: 50px;
    flex-direction: column;
    justify-content: center;
  }
  .footer-partner-images {
    flex-wrap: wrap;
  }
}
@media (max-width: 521px) {
  .footer-section-1 {
    padding: 32px 16px;
  }
  .footer-section-2 {
    padding: 32px 16px;
  }
}
